@model Region

<div class="container">
    <section class="form">
        <h1>@ViewData["Title"]</h1>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>
            <div class="d-flex">
                <div class="form__group field">
                    <input class="form__field" placeholder="Name" name="Name" id="name" required/>
                    <label for="name" class="form__label">Name <span class="text-danger">*</span></label>
                </div>
                <div class="form__group field ms-5">
                    <input class="form__field" placeholder="Identifier" name="Identifier" id="identifier" required/>
                    <label for="identifier" class="form__label">Identifier <span class="text-danger">*</span></label>
                </div>
            </div>
            <hr class="mt-5"/>
            <h4 class="text-center">Inforamtion</h4>
            <div class="d-flex">
                <div class="form__group field">
                    <input class="form__field" placeholder="Area" onkeypress="return onlyNumberKey(event)" name="Area" id="area"/>
                    <label for="area" class="form__label">Area</label>
                </div>
                <div class="form__group field ms-5">
                    <input type="date" class="form__field" placeholder="Formed" name="Formed" id="formed"/>
                    <label for="formed" class="form__label">Formed</label>
                </div>
            </div>
            <div class="d-flex flex-column mt-4">
                <label for="description" class="form-label simple-text">Description <span class="text-danger">*</span></label>
                <textarea class="textarea form-control" name="Description" id="description" rows="9" required></textarea>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <input type="submit" value="Create" class="submit mt-2"/>
            </div>
        </div>
    </section>
</div>