@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/addition-form.css" asp-append-version="true"/>
}

<div class="container">
    <section class="login-form">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex-row">
                <label class="lf-label" for="username">
                    <i class="fa fa-user" style="color: gray" aria-hidden="true"></i>
                </label>
                <input id="username" class="lf-input" placeholder="User name" type="text" asp-for="Input.UserName" autocomplete="nickname" aria-required="true">
            </div>
            <span asp-validation-for="Input.UserName" class="text-danger errors-text"></span>

            <div class="flex-row">
                <label class="lf-label" for="email">
                    <i class="fa fa-envelope" style="color: gray" aria-hidden="true"></i>
                </label>
                <input id="email" class="lf-input" placeholder="E-mail" type="email" asp-for="Input.Email" autocomplete="email" aria-required="true">
            </div>
            <span asp-validation-for="Input.Email" class="text-danger errors-text"></span>

            <div class="flex-row">
                <label class="lf-label" for="password">
                    <i class="fa fa-lock" style="color: gray" aria-hidden="true"></i>
                </label>
                <input id="password" class="lf-input" placeholder="Password" type="password" asp-for="Input.Password" autocomplete="new-password" aria-required="true">
            </div>
            <span asp-validation-for="Input.Password" class="text-danger errors-text"></span>

            <div class="flex-row">
                <label class="lf-label" for="confirmPassword">
                    <i class="fa fa-lock" style="color: gray" aria-hidden="true"></i>
                </label>
                <input id="confirmPassword" class="lf-input" placeholder="Confirm" type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true">
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger errors-text"></span>
            
            <div class="flex-row">
                <label class="lf-label" for="confirmPassword" style="width: 58px">
                    <i class="fa fa-venus-mars" style="color: gray" aria-hidden="true"></i>
                </label>
                <select class="select-text" style="padding-left: 10px" id="gender" asp-for="Input.Gender" name="gender" autocomplete="gender" required>
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
            </div>

            <input id="login-submit" class="lf-submit" type="submit" value="Register">
        </form>
        <a asp-page="./Login" class="mt-3">I already have an account</a>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}