@model IReadOnlyCollection<Entertainment>

@{
    ViewData["Title"] = "Entertainments";
    Layout = "../../Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true"/>
}

<h5>
    <span style="color:gray;">Admin/</span><span style="color: black;">Entertainments</span>
</h5>

@await Html.PartialAsync("_listEntertainments")

@section Scripts{
    <script src="~/js/table.js" asp-append-version="true"></script>
}